.nav-icon {
  position: absolute;
  height: 104.17%;
  width: 92.23%;
  top: 4.17%;
  right: -0.38%;
  bottom: -8.33%;
  left: 8.15%;
  border-radius: var(--br-11xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search {
  position: absolute;
  width: 4.13%;
  top: 38.54%;
  left: 28.43%;
  display: inline-block;
}
.header-child {
  position: absolute;
  top: 37px;
  left: 549.45px;
  border-radius: var(--br-6xs);
  background-color: var(--color-aliceblue);
  width: 651.55px;
  height: 23px;
}
.categories {
  position: absolute;
  top: 38.54%;
  left: 78.02%;
}
.settings-icon,
.vector-icon {
  position: absolute;
  height: 30.39%;
  width: 1.52%;
  top: 36.46%;
  right: 11.94%;
  bottom: 33.15%;
  left: 86.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 23.84%;
  width: 1.33%;
  top: 39.74%;
  right: 10.01%;
  bottom: 36.43%;
  left: 88.66%;
}
.shopping-cart-icon {
  height: 30.39%;
  width: 1.52%;
  top: 36.46%;
  right: 7.9%;
  bottom: 33.15%;
  left: 90.59%;
}
.header-item,
.logo-icon,
.shopping-cart-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header-item {
  height: 57.29%;
  width: 3.47%;
  top: 26.04%;
  right: 3.03%;
  bottom: 16.67%;
  left: 93.49%;
  border-radius: 50%;
  object-fit: cover;
}
.logo-icon {
  height: 84.38%;
  width: 17.94%;
  top: 2.46%;
  right: 73.91%;
  bottom: 4.17%;
  left: -0.15%;
}
.header {
  position: absolute;
  top: -4px;
  left: -129px;
  width: 1583px;
  height: 96px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
